/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --text-color: #F1B2CE;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --button-hover-border: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__rec {
    display: block;
}

.theme-dark .page {
    background-image: var(--bg-image);
    background-color: var(--bg-color);
}