/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --button-hover-border: rgba(255, 141, 203, 0.4);
}

.theme-light .header__rec {
    display: none;
}

.theme-light .page {
    background-image: var(--bg-image);
    background-color: var(--bg-color);
}

/* Автоматическая светлая тема для тех, у кого в системе выбрана светлая тема */
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFF1F7;
        --bg-image: url(../images/cover-image-light.png);
        --text-color: #353430;
        --accent-color: #FF8DCB;
        --title-color: #FFC2E6;
        --button-hover-border: rgba(255, 141, 203, 0.4);
    }
    
    .header__rec {
        display: none;
    }
    
    .page {
        background-image: var(--bg-image);
        background-color: var(--bg-color);
    }
}